.todo-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .todo-list__header {
    margin: 2em auto;
    width: 70%;
    max-width: 850px;
    padding: 2em;
  }

  .todo-list__header p {
    text-align: center;
  }

  .todo-list__text-input {
    width: 70%;
    max-width: 850px;
    padding: 2em;
    background-color: #1a1d22
  }

  .todo-list__todos {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 850px;
    padding: 2em;
  }