body {
  background-color: #282c34;
  min-height: 100vh;
  color:white;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
  
}

.app__container {
  text-align: center;
}

.app__header {
  padding: 1em 2em;
}

.app__header h1 {
  text-align: center;
}